<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDaoFileDao" class="ru.otus.dao.QuestionDaoFileImpl">
        <constructor-arg value="csv/questions.csv"/>
    </bean>
    <bean id="answerDaoFileDao" class="ru.otus.dao.AnswerDaoFileImpl">
        <constructor-arg value="csv/answers.csv"/>
    </bean>

    <bean id="answerService" class="ru.otus.service.AnswerServiceImpl">
        <constructor-arg ref="answerDaoFileDao"/>
    </bean>

    <bean id="questionService" class="ru.otus.service.QuestionServiceImpl">
        <constructor-arg ref="questionDaoFileDao"/>
    </bean>

    <bean id="qaCorrespondenceService" class="ru.otus.service.QACorrespondenceServiceImpl">
        <constructor-arg index="0" ref="answerService"/>
        <constructor-arg index="1" ref="questionService"/>
    </bean>

    <bean id="ioService" class="ru.otus.io.IOServiceImpl"></bean>
    <bean id="userSequanceService" class="ru.otus.service.UserSequanceService"></bean>
    <bean id="userAnswerSequanceService" class="ru.otus.service.UserAnswerSequanceService"></bean>

    <bean id="getUserService" class="ru.otus.service.GetUserServiceImpl">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="userSequanceService"/>
    </bean>

    <bean id="getUserAnswerService" class="ru.otus.service.GetUserAnswerServiceImpl">
        <constructor-arg ref="userAnswerSequanceService"/>
    </bean>

    <bean id="consoleViewService" class="ru.otus.view.ConsoleViewServiceImpl">

        <constructor-arg index="0" ref="qaCorrespondenceService"/>
        <constructor-arg index="1" ref="getUserService"/>
        <constructor-arg index="2" ref="getUserAnswerService"/>
        <constructor-arg index="3" ref="ioService"/>
    </bean>





</beans>
